body{
    margin: auto;
    margin-top: 0px;
    background-color: aqua;
}
body > h1{
    background-color: gray;
    color: white;
    text-align: center;
}
main{
    background-color: white;
    width: 800px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.676) 4px 20px;
    border: 1px black solid;
    margin: auto;
}
#nome{
    color: black;
    text-align: center;
    margin: 30px;
}