*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Styles for screens with a width of 450px or less */
    @media (min-width:350px) and (max-width:550px) {
    /*Adapta o conteúdo para telas entre 375px e 550px*/
    body {
        margin: 1px;
    }
    #container {
        margin: 0%;
        max-width: 100%;
        /*min-width: 375px;*/
        text-align: left;
        background-color: grey;
    }
    header{
        max-width:  100%;
    }
    /* Define uma fonte de tamanho miníma responsiva para o HEADER do H1*/
    header > h1 {
        font-size: 20px;
    }

    /* Adapta os input das páginas */
    input {
        max-width: 100%;
    }
    .sobre > textarea{
        max-width: 100%;
        
    }
}

body{
    background-image: url(wallpapper/fundo-tech.jpeg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 900px;
}
#container, section{
    align-items: center;
    text-align: center;
    margin: auto;
    color: white;
    border-radius: 10px; 
    background-color: rgba(0, 0, 255, 0.493);
    width: 80%;
    height: 80%;
    
}

header{
    background-color: #000000;
    border-radius: 10px;
    padding: 10px;
}
header > h1{
    text-align: center;
    color: #ffffff;
}
section{
    padding: 30px;
}
input{
    width: 450px;
    margin-top: 10px;
}
.content{
    /*display: flex;*/
    flex-wrap: wrap;
    
}
.nome, .escolaridade, .nascimento, .contact, .number, .sobre{
    margin: 10px;
    padding: 10px
}
.escolaridade > input{
    text-align: center;
}

.contact > input{
    width: 180px;
}
.nascimento > input{
    width: 150px !important;
    text-align: center;
}
.sobre > p{
    margin-bottom: 10px;
}
.sobre > textarea{
    width: 500px;
    height: 100px !important;
}
.button{
    text-align: center;
}
.button > input{
    width: 150px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.button > input:hover{
    background-color: green;
    color: white;
}